<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.hardware.type.watch" android:required="true" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:hasCode="false"
        android:icon="@drawable/preview"
        android:label="@string/watch_face_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <property
            android:name="com.google.wear.watchface.format.version"
            android:value="2" />
        <property
            android:name="com.google.wear.watchface.format.publisher"
            android:value="WearFaces-{{VERSION_NAME}}" />
    </application>
</manifest>
